@import url(./reset.css);
/* Oswalt, Macondo, Roboto, Montserrat Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Macondo&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --roboto-font: "Roboto", serif;
  --oswalt-font: "Oswald", serif;
  --mont-font: "Montserrat", serif;
  --macondo-font: "Macondo", serif;
  --ana-renk: #111827;

  --ikincil-renk: #1f2937;

  --vurgu-rengi: #64748b;

  --metin-rengi: #e2e8f0;

  --hover-rengi: #9ca3af;
}
body {
  background-color: var(--ana-renk);
}
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}
